<form [formGroup]="editUserForm" class="formWrapper">

  <div>
    <h2 class="labelEdit"><b>name:</b>
      <input formControlName="name">
    </h2>
    <label class="labelEdit"><b>username:</b>
      <input formControlName="username">
    </label>
    <label class="labelEdit"><b>email:</b>
      <input formControlName="email">
    </label>

    <div><b>address:</b></div>
    <label class="labelEdit"><b class="ml20">street:</b>
      <input formControlName="street"></label>
    <label class="labelEdit"><b class="ml20">suite:</b>
      <input formControlName="suite"></label>
    <label class="labelEdit"><b class="ml20">city:</b>
      <input formControlName="city"></label>
    <label class="labelEdit"><b class="ml20">zipcode:</b>
      <input formControlName="zipcode"></label>

    <div><b class="ml20">location:</b></div>
    <label class="labelEdit"><b class="ml40">lat:</b>
      <input formControlName="lat"></label>
    <label class="labelEdit"><b class="ml40">lng:</b>
      <input formControlName="lng"></label>

    <label class="labelEdit"><b>phone:</b>
      <input formControlName="phone"></label>
    <label class="labelEdit"><b>website:</b>
      <input formControlName="website"></label>

    <div><b>company:</b></div>
    <label class="labelEdit"><b class="ml20">name:</b>
      <input formControlName="companyName"></label>
    <label class="labelEdit"><b class="ml20">catchPhrase:</b>
      <input formControlName="catchPhrase"></label>
    <label class="labelEdit"><b class="ml20">bs:</b>
      <input formControlName="bs"></label>

  </div>


  <div class="btnWrapper">
    <button (click)="saveForm()" class="userFullBtnGreen">save</button>
    <button (click)="closeForm()" class="userFullBtnRed">close</button>
  </div>
</form>
