<form [formGroup]="myForm" class="formWrapper">

  <div>

    <h2 class="center">{{editingUser.name}}</h2>
    <label class="labelEdit"><b>name:</b>
      <input formControlName="name"/>
    </label>
    <label class="labelEdit"><b>username:</b>
      <input formControlName="username"/>
    </label>
<!--    <label class="labelEdit"><b>email:</b>-->
<!--      <input [formControl]="email">-->
<!--    </label>-->

<!--    <div><b>address:</b></div>-->
<!--    <label class="labelEdit"><b class="ml20">street:</b>-->
<!--      <input [formControl]="street"></label>-->
<!--    <label class="labelEdit"><b class="ml20">suite:</b>-->
<!--      <input [formControl]="suite"></label>-->
<!--    <label class="labelEdit"><b class="ml20">city:</b>-->
<!--      <input [formControl]="city"></label>-->
<!--    <label class="labelEdit"><b class="ml20">zipcode:</b>-->
<!--      <input [formControl]="zipcode"></label>-->

<!--    <div><b class="ml20">location:</b></div>-->
<!--    <label class="labelEdit"><b class="ml40">lat:</b>-->
<!--      <input [formControl]="lat"></label>-->
<!--    <label class="labelEdit"><b class="ml40">lng:</b>-->
<!--      <input [formControl]="lng"></label>-->

<!--    <label class="labelEdit"><b>phone:</b>-->
<!--      <input [formControl]="phone"></label>-->
<!--    <label class="labelEdit"><b>website:</b>-->
<!--      <input [formControl]="website"></label>-->

<!--    <div><b>company:</b></div>-->
<!--    <label class="labelEdit"><b class="ml20">name:</b>-->
<!--      <input [formControl]="companyName"></label>-->
<!--    <label class="labelEdit"><b class="ml20">catchPhrase:</b>-->
<!--      <input [formControl]="catchPhrase"></label>-->
<!--    <label class="labelEdit"><b class="ml20">bs:</b>-->
<!--      <input [formControl]="bs"></label>-->

  </div>


  <div class="btnWrapper">
    <button (click)="1" class="userFullBtnGreen">save</button>
    <button (click)="closeForm()" class="userFullBtnRed">close</button>
  </div>
</form>
